[Unit]
Description=Launch HTTP server
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/server.py
Restart=no
Type=oneshot
RestartSec=0s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=networking.target
